.title {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 10px;
}

.input-box {
    padding-bottom: 0px;
}

.input-box .input {
    border-radius: 0px;
    border-width: 0px;
    padding: 7px;
    overflow: visible;
    margin-top: 0px;
    -webkit-font-smoothing: antialiased;
    outline: none;
}

.toolbar {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

select {
    border-radius: 0px;
    border-width: 2px;
    border-style: solid;
    margin-top: 20px;
    padding: 5px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    background: inherit;
    cursor: pointer;
    margin-bottom: 20px;
    width: 50%;
}

select:focus {
    outline: none;
}

.input-box .btn {
    width: 25%;
    border-radius: 0px;
    border-width: 2px;
    border-style: solid;
    padding: 5px;
    cursor: pointer;
    display: flex;
}
