html {
    /* background-color: rgba(27, 38, 54, 1); */
    /*text-align: center;*/
    /*color: white;*/
}

body {
    margin: 0;
    /*font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;*/
    /*font-family: "Hasklig", monospace;
    font-size: 14px;*/
    padding-left: 20px;
    padding-right: 20px;
}

@font-face {
    font-family: "Hasklig";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/Hasklig-Regular.ttf") format("ttf");
}

#app {
    height: 100vh;
    /*text-align: center;*/
}
