body {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
}

@font-face {
    font-family: "Hasklig";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/Hasklig-Regular.ttf") format("ttf");
}

#app {
    overflow: visible;
}
